<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--这个是映射文件 定义sql语句  对应的必须是全限定名  对应的名称空间 useGeneratedKeys 主键 -->
<mapper namespace="book">
    <insert id="create" parameterType="model.Book" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO db.book VALUES (NULL, #{title}, #{price},#{amount},#{pubTime})
    </insert>

    <select id="queryAll" resultType="model.Book" >
        SELECT * FROM db.book ORDER BY id DESC;
    </select>

    <update id="update" parameterType="model.Book">
        UPDATE db.book SET title = #{title},price = #{price},amount = #{amount}, pubTime = #{pubTime}  WHERE id = #{id}
    </update>

    <select id="queryById" resultType="model.Book" parameterType="int">
        SELECT * FROM db.book WHERE id=#{id}
    </select>

    <delete id="remove" parameterType="int">
        DELETE FROM db.book WHERE id=#{id}
    </delete>


    <!-- <update id="remove" parameterType="int">
       DELETE FROM db.user WHERE id=#{id}
    </update>-->
</mapper>